<h1>Listing questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Sent at</th>
    <th>Answered at</th>
    <th>Administration</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.body %></td>
    <td><%= question.sent_at %></td>
    <td><%= question.answered_at %></td>
    <td><%= question.administration.name if question.administration %></td>
    <td><%= question.department.name if question.department %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>