
  <div class="latest-questions frame">
    <div class="submit toLeft">
      <h2>Últimas preguntas formuladas</h2>
      <div class="column">
        <% last_pending_questions.each do |q|%>
          <h3><%= link_to q.title, q %></h3>
          <p><%= q.me_toos.size %> personas quieren saberla, <%= link_to "¡manifiesta tu interés!", q %></p>
        <% end %>
      </div>
      <p class="more-info"><%= link_to "ver todas las preguntas sin contestar", pending_questions_path %></p>
    </div>
    <div class="answered toRight">
      <h2>Últimas preguntas contestadas</h2>
      <div class="column">
        <% last_answered_questions.each do |q|%>
          <h3><%=administration_logo(q.administration)%> <%= link_to q.title, q %></h3>
          <p>Contestada en <%= elapse_time(q) %> por <%= administration_link(q.administration) %></p>
        <% end %>
      </div>
      <p class="more-info"><%= link_to "ver todas las preguntas contestadas", answered_questions_path %></p>
    </div>
    <div class="clear"></div>
  </div>
  <!--/latest-questions-->
  <div class="site-tags">
    <div class="frame">
    <h2 class="accessible">Categorías</h2>
      <ul>
        <% tags = ActsAsTaggableOn::Tag.all %>
        <% tags.each do |t|%>
          <li <%= "class=\"no-bg\"".html_safe if t == tags.first %> ><%= link_to t.name, questions_by_tag_path(t.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--/site-tags-->