
  <div class="latest-questions frame">
    <div class="submit toLeft">
      <h2>Últimas preguntas formuladas</h2>
      <div class="column">
        <% last_pending_questions.each do |q|%>
          <h3><%= link_to q.title, q %></h3>
          <p>234 personas quieren saberla, <a href="#">manifiesta tu interés!</a></p>
        <% end %>
      </div>
      <p class="more-info"><%= link_to "ver todas las preguntas sin contestar", pending_questions_path %></p>
    </div>
    <div class="answered toRight">
      <h2>Últimas preguntas contestadas</h2>
      <div class="column">
        <% last_answered_questions.each do |q|%>
          <h3><%=administration_logo(q.administration)%> <%= link_to q.title, q %></h3>
          <p>Contestada en <%= elapse_time(q) %> por <%= administration_link(q.administration) %></p>
        <% end %>
      </div>
      <p class="more-info"><%= link_to "ver todas las preguntas contestadas", answered_questions_path %></p>
    </div>
    <div class="clear"></div>
  </div>
  <!--/latest-questions-->
  <div class="site-tags">
    <div class="frame">
    <h2 class="accessible">Categorías</h2>
      <ul>
        <li class="no-bg"><a href="#">Ciencia</a></li>
        <li><a href="#">Contratación pública</a></li>
        <li><a href="#">Cultura</a></li>
        <li><a href="#">Deporte</a></li>
        <li><a href="#">Economía</a></li>
        <li><a href="#">Educación</a></li>
        <li><a href="#">Estadística</a></li>
        <li><a href="#">Justicia</a></li>
        <li><a href="#">Mapas</a></li>
        <li><a href="#">Medio Ambiente</a></li>
        <li><a href="#">Información local</a></li>
        <li><a href="#">Metereología</a></li>
        <li><a href="#">Política</a></li>
        <li><a href="#">Tráfico y transporte</a></li>
        <li><a href="#">Turismo</a></li>
      </ul>
    </div>
  </div>
  <!--/site-tags-->