<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%="#{@question.title} -" if @question %> 100 preguntas</title>
<meta name="description" content="<%= @question ? @question.body : "Campaña de las 100 preguntas a la administración" %>">
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/100preguntas.css"/>
<!--typekit-->
<script type="text/javascript" src="http://use.typekit.com/fpn2myz.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<%= render :partial => "shared/analytics"%>

<%= javascript_include_tag :defaults %>
</head>

<body>
<div class="container <%= section_class %>">
  <div class="header">
    <div class="intro">
      <div class="frame">
        <p><%= link_to "Pregunta a la administración", root_path %></p>
      </div>
    </div>
    <% if home? %>
    <div class="title">
      <div class="frame">
        <h1>Las administraciones públicas deben hacer públicos sus datos</h1>
        <p>España es el único país europeo que aún no tiene una Ley de Acceso a la Información</p>
      </div>
    </div>
    <% end %>
    <%= render :partial => '/shared/search_form'%>
  </div>
  <!--/header-->
  
  <p id="notice"><%= notice %></p>
  <%= yield %>

  <!--/content-->
  <%= render :partial => '/shared/footer' %>
</div>
<!--/wrapper-->
</body>
</html>